## Term Definition

Spec-Up-T link: <a href='https://weboftrust.github.io/WOT-terms/docs/glossary/complementary-integrity-verification'>here</a>

## Complementary nature
Independent Integrity Verification is what is achieved by use of a public key from the data "controller" such that it does not need to compare received data/messages against the sent data/message.

The already verified chain up to a certain point in time in the past (previous instance or reference version) no longer needs to be verified.
> Example: The tail of a [KEL](key-event-log) that has been verified to its [root-of-trust](root-of-trust) on a certain date and time, can be cut off. You don't need to verify this any more from this date.

[integrity](integrity)  
[verified integrity](verified-integrity)