## Term Definition

Spec-Up-T link: <a href='https://weboftrust.github.io/WOT-terms/docs/glossary/verification'>here</a>

## More
In more technical words, the capability to (cryptographically) verify data received from peers (check structure, signatures, dates)

[verify](verify)
